body{
    margin:0px;
    background: linear-gradient(rgb(0,0,20),rgb(58, 65, 87), rgb(0,0,20));
}

.nav{
    background: rgba(7, 3, 29, 0.432);
    border:2px solid rgba(255, 255, 255, 0.205);
    padding:8px;
    padding-right: 40px;
    position: sticky;
    top:0;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
}

.nav ul{
    display:flex;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
}

.nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    color:white;
    font-size:x-large;
    padding:20px;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
}

.nav ul li a:hover{
    background: rgba(255, 255, 255, 0.116);
    border-bottom: 3px solid rgb(232, 233, 255);
}

.home{
    color:white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding:170px;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:xx-large;
}

.slowdance{
    background:url("slowdancinginthedark.jpg");
    margin: 0px;
    width:95%;
    height:100%;
    border:10px outset rgb(217, 232, 236);
    margin-left:auto;
    margin-right:auto;
}

.home-text{
    background: rgba(0, 0, 0, 0.432);
    border: 3px solid rgba(255, 255, 255, 0.6);
}

.home h1{
    text-transform: uppercase;
    text-decoration: none;
}

.biography{
    background: url("snowflakes.jpg");
    width:95%;
    margin: 0px;
    height:100%;
    border:10px ridge rgb(217, 232, 236);
    margin-left:auto;
    margin-right:auto;
}

.bio-text{
    text-align: center;
    color:white;
    padding-top:50px;
    padding-bottom:50px;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(0, 0, 0, 0.322);
}

.achievements{
    background-image: url("victory.jpg");
    background-color: rgba(11, 11, 58, 0.322) ;
    width:87%;
    margin: 0px;
    height:90%;
    border:10px ridge rgb(217, 232, 236);
    margin-left:auto;
    margin-right:auto;
}

.ach-text{
    text-align: center;
    color:white;
    padding:10px;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(0, 0, 0, 0.404);
}

.ach-text h2{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}